*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav_bar{
    background-color: black;
    height: 5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
     
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}

header .container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container{
    height: 100%;
    width: 75rem;

}

.logo_spotify{
    height: 100%;

}

.list_links{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav_link{
    margin-left: 2rem;
    color: aliceblue;
    text-decoration: none;
}

/* main body starts here*/

.sec_1{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 8rem;
    padding-bottom: 4rem;

    height: 32.5rem;
    background-color:#19E68C;

    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.image_pc{
    height:5rem;
    margin-bottom: 2rem;
    
}